main {
  background-image: url("../../white-wall-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 90vh;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin: 10px;
  max-width: 1600px;
}

.text-decoration-none {
  text-decoration: none;
}

.card {
  width: 150px;
  height: 200px;
  background-color: rgba(208, 184, 168,.7);
  padding: 10px;
  animation: fadeInUp 2s;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border: none;
}

.card > img {
  border-radius: 10px;
  height: 45%;
}

#user-name{
  font-size: 25px;
  margin: 10px;
}

@media only screen and (min-width: 768px){
    .card-container{
      max-width: 80vw;
    }

    .card {
      width: 250px;
      height: 125px;
      flex-direction: row;
    }

    .card > img {
      height: 96px;
    }
    
    .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .card-title {
      font-size: 24px;
      margin: 0 10px;
    }
}