main{
  background-image: url("../../clothes-store-2.jpg");
  background-size: cover;
  min-height: 90vh;
}

.card {
  padding: 20px 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255,.9);
  width: 50vw;
  min-width: 300px;
  max-width: 400px;
  animation: pulse 2s;
  border: none;
}

.card > img {
  border-radius: 10px;
  height: 96px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}


.status{
  font-size: 20px;
  margin: 3% 0;
}

.info-section{
  margin: 10px;
}

#name{
  font-size: 25px;
  margin: 7% 2% 2% 2%;
}

@media only screen and (min-width: 768px){
  .card {
    padding-top: 20px;
  }
  
  div{
    font-size: 20px;
    padding: 5px;
  }

  .status{
    font-size: 27px;
    margin: 3% 0;
  }
  
  .info-section{
    margin: 5px;
  }
  
  #name{
    font-size: 35px;
    margin: 7% 1% 1% 1%;
  }
}