main{
  background-image: url("https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZmFzaGlvbnxlbnwwfDB8MHx8&auto=format&fit=crop&w=700&q=60");
  background-size: cover;
}

.card {
  display: flex;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 30px 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255,.9);
  width: 30vw;
}

.card > img {
  border-radius: 10px;
  height: 96px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 24px;
  margin: 0 10px;
}