main{
  background-image: url("../../clothes-store-2.jpg");
  background-size: cover;
  min-height: 90vh;
}

.card {
  padding: 20px 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255,.9);
  width: 50vw;
  min-width: 300px;
  max-width: 400px;
  animation: pulse 2s;
  border: none;
}

.card > img {
  border-radius: 10px;
  height: 96px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 20px 0 0 0;
}

@media only screen and (min-width: 768px){
  .card {
    padding: 30px 0;
  }
  
  div{
    font-size: 20px;
    padding: 5px;
  }
  
  .info-section{
    margin: 10px;
  }
  
  h3{
    margin: 0;
  }

}