html{
  width: 100vw;
  height: 100vh;
}

body{
  justify-content: flex-start;
}

main {
  background-image: url("../home-clothes.jpg");
  background-size:cover;
  height: 90vh;
}

p{
  font-size: 15px;
}

.welcome{
  font-size: 27px;
}

.text-decoration-none {
  text-decoration: none;
}

.card{
  opacity: .9;
  animation: fadeIn 1s;
  padding: 20px;
}


@media only screen and (min-width: 768px){
  p{
    font-size: 22px;
  }

  .welcome{
    font-size: 40px;
  }

  .card{
    max-width: 600px;
  }
}