html {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color:#EBCCAD;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'EB Garamond', serif, system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
  'Helvetica Neue', sans-serif;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type="text"],
input[type="url"],
textarea{
  font-family: 'EB Garamond', serif, system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
  'Helvetica Neue', sans-serif;
  font-size: large;
}

nav {
  background-color: #F5E5D6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  height: 10vh;
  text-align: center;
}

button{
  font-family: 'EB Garamond', serif;
  background-color: #EBCCAD;
  border-color: #BC9F6A;
  border-radius: 5%;
  font-size: 70%;
}

button:hover{
  background-color: #FFEECA;
}

nav a{
  font-size: 13px;
  margin: 2%;
  color: #1a1a1a;
  text-decoration: none;
  border-radius: 5%;
  padding: 5px;
}

.nav:hover{
  background-color: #EBCCAD;
}

.right {
  margin-left: auto;
}

.card {
  display: flex;
  width: 75vw;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  text-align: center;
}

@media only screen and (min-width: 768px){
  nav {
    padding: 5px;
  }
  
  button{
    border-radius: 10px;
    font-size: 20px;
  }
  
  nav a{
    font-size: 20px;
    margin: 1%;
  }
  
  .card {
    width: 50vw;
  }
}