main {
  background-image: url("../../light-brown-wall.jpg");
  background-size:cover;
  background-attachment: fixed;
  justify-content: flex-start;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
}

.text-decoration-none {
  text-decoration: none;
}

.card {
  width: 100px;
  height: 200px;
  background-color: rgb(150, 126, 118,.7);
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  animation: fadeInUp 2s;
  border: none;
}

.card-body {
  width: 95%;
  height:20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 65%;
}

.card > img {
  border-radius: 5%;
  width: 95%;
  margin: 5px;
}

#collections-index-title{
  background-color: rgba(150, 126, 118, .6);
  border-radius: 50%;
  padding: 10px 40px;
  margin-top: 10px;
  color: black;
  animation: fadeIn 3s;
  animation-delay: 20ms;
  font-size: 20px;
}

@media only screen and (min-width: 768px){ 
  .card {
    width: 200px;
    height: 400px;
  }
  
  .card-body {
    height:30%;
  }
  
  .card-title {
    font-size: 20px;
  }

  .card > img {
    border-radius: 10px;
  }
  
  #collections-index-title{
    padding: 20px 40px;
    margin: 20px;
    font-size: 32px;
  }
}