main {
  /* background-image: url("https://images.unsplash.com/photo-1633505899118-4ca6bd143043?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80"); */
  background-image: url("https://images.unsplash.com/photo-1524312966005-030e396636fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGJlaWdlJTIwYmFja2dyb3VuZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size:cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}


.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;

}

.text-decoration-none {
  text-decoration: none;
}

.card {
  display: flex;
  width: 200px;
  height: 400px;
  background-color: rgba(238, 227, 203,.7);
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  animation: fadeInUp 2s;
  border: none;
}

.card > img {
  border-radius: 10px;
  width: 95%;
  /* height: 40%; */
  margin: 5px;
  /* border:2px grey solid; */
}

.card-body {
  width: 95%;
  height:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5e463e;
  
}

.card-title {
  font-size: 20px;
}

#collections-index-title{
  background-color: rgb(238, 227, 203,.7);
  border-radius: 50%;
  padding: 0 40px;
  margin: 20px;
  border-style: dotted;
  color: #5e463e;
  border:none;
  animation: fadeIn 3s;
  animation-delay: 150ms;
}