main {
  background-image: url("../../white-wall.jpg");
  background-attachment: fixed;
  background-size: cover;
  justify-content: flex-start;
  min-height: 90vh;
}

a {
  color: black;
}

div {
  margin: 2px;
  border-radius: 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 2px;
  font-size: 15px;
}

table {
  width: 90%;
  text-align: center;
}

main>div:first-child {
  margin-top: 10px;
}

.text-decoration-none {
  text-decoration: none;
}

.card {
  margin-top: 5px;
  width: 90vw;
  background-color: rgba(255, 255, 255, .9);
  align-items: center;
  justify-content: space-evenly;
  /* padding: 5px; */
  padding: 2% 2% 5% 2%;
}

.item-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card>img {
  border-radius: 10px;
  width: 90%;
  margin-top: 5%;
}

#item-all-info {
  flex-direction: column;
}

#action-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#add-review-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}

#item-info {
  animation: fadeIn 2s;
}

#add-review-form>* {
  margin: 5%;
}

#reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#reviews-title{
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  #item-all-info {
    flex-direction: row;
  }

  .card {
    margin-top: 5px;
    width: 60vw;
    max-width: 800px;
    background-color: rgba(255, 255, 255, .9);
    flex-direction: row;
  }

  .item-detail {
    width: 45%;
  }

  .card>img {
    width: 40%;
    margin: 5px 0;
  }

  #item-info {
    animation: fadeInDown 2s;
  }

  #add-review-form {
    flex-direction: row;
  }

  #add-review-form>* {
    margin: 2%;
  }

  #reviews-title{
    font-size: 25px;
  }
}